
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registro de Usuarios</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap-grid.css">
  <link rel="stylesheet" href="/styles/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-reboot.css">
  <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body ng-app="SingupModule" ng-controller="SingupController">
  <h1> Registro de Usuarios</h1>
  {{user.name}}



    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular1.6.4.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/public/singup/SingupController.js"></script>
    <script src="/js/public/singup/SingupModule.js"></script>
    <!--SCRIPTS END-->
</body>

</html>